openea-*/EA/src/
openea-*/EA/include/
openea-*/EA/obj/
openea-*/EA/*.so
openea-*/EA/*.so.*
openea-*/EA-CLI/src
openea-*/EA-CLI/obj
openea-*/EA-CLI/openea-run

openea-*/debian/**
!openea-*/debian/changelog
!openea-*/debian/compat
!openea-*/debian/control
!openea-*/debian/copyright
!openea-*/debian/*.dirs
!openea-*/debian/*.postinst
!openea-*/debian/rules
!openea-*/debian/source/format

*.deb
*.dsc
*.changes
*.upload
*.build
*.debian.tar.xz
*.orig.tar.gz
*.diff.gz
