/OneMax-Debug/
/SharedLib-Debug/
/TenMax-Debug/
/.settings/
/Test-Debug/
/Permutation-Debug/
/backup/
/stderr.log
/stdout.log
/EightQueens-Debug/
/OneMaxCluster-Debug/
/html/
/latex/
/Rosenbrock-Debug/
